p.content {
    font-size: 18px;
}

.sec header>h2 {
    font-size: 30px;
}

table>tbody>tr>td {
    font-size: 18px;
}

table>tbody>tr>td b {
    color: #9B59B6;
    font-weight: 500;
    margin-right: 10px;
}

#main > section.dark a {
    color: inherit;
}

#main > section.dark h2 {
    font-weight: 500;
    color: #9B59B6;
}

#main > section.dark p {
    color: #666;
}

#main > section, #main > section.one {
    background-image: none;
}

#main > section.one, #main > section.three, #main > section.five {
    background-color: #FFFFFF;
}

#main > section.two, #main > section.four, #main > section.six {
    background-color: #F4F4F4;
}

#footer {
    background-color: #FFFFFF;
}

#nav ul li a.active span:before {
    color: #9B59B6;
}

a:hover {
    color: #9B59B6;
    text-decoration: none;
}

.small {
    font-size: 15px;
    /*margin-left: 10px;*/
    margin-right: 10px;
}
